body {
    background-color: #fffbf7;
}

h1 {
    font-size: 60px;
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
}

p {
    color: #46484c;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.texto-promocional{
    margin-top: 0;
    text-align: center;
}
.texto-promocional > p{
    color: #8b8b8bcc;
    font-family: 'Opens sans', sans-serif;
}
input{
    padding: 14px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    margin-right: 0;
    border-right: none;
}

.main > form button {
    color: #fff;
    background-color: #025157;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 15px;
    margin-left: -10px;
    border: none;
}
.main {
    margin-top: 285px;
    text-align: center;
}

.boton-main:hover {
    background-color: #67b54b;
}
/** Animaciones
#cuadrado {
    width: 200px;
    height: 200px;
    background-color: #aaa;
    animation-name: miAnimacion;
    animation-duration: 4s;
    /*animation-delay: 2s;*
    position: relative;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}
 */
 
.header {
    /* margin-top: 40px 20px 0;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
}

li {
    display: inline;
    margin: 0 25px 0;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    /* width: 70%; */
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
    height: 100%;
}

.actions>* {
    margin: 0 10px;
}

.actions a {
    color: #67b54b;
    text-decoration: none;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding: 14px 12px;
    border: 0;
    border-radius: 5px;
}
.actions > form{
    height: 55px;
}


.intro > img {

    width: 75%;
}
.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publish h3 {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Open sans", sans-serif;

}

.publish>form {
    display: flex;
    flex-wrap: wrap;
}

.publish>form p {
    color: #025157;
    margin-right: 18px;
}

.publish {
    margin-left: 30px;
}
.publish > form button {
    color: #fff;
    background-color: #025157;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 15px;
    margin-left: -10px;
    border: none;
}
.explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatory-video>img {
    width: 120px;
    margin-top: 10px;
}

.success-stories {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.overview h2 {
    font-family: 'Alegreya', serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
    flex: 2;
    padding-right: 100px;
}

.overview img {
    width: 500px;
    max-width: 100%;
}

.success-stories p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.success-stories button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
}
.features {
    margin-top: 5%;
    padding: 5% 10%;
    background-color: #025157;
    display: grid;
    height: auto;
    grid-template: repeat(2, 330px)/repeat(2, 1fr);
    gap: 10px;

}

.features .feature-card {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow-wrap: normal;
    border: 1px solid #dadada;
    margin: 10px 10px;
}

.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
    font-family: "Open Sans", sans-serif;
    color: #212529;
    font-size: 1rem;

}

.features .feature-card .feature-content>* {
    margin-bottom: 1rem;
    margin-top: 0;
}

.features .feature-card .feature-content h3 {
    color: #212529;
    font-size: 24px;
    font-weight: 400;
}

.features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.features .feature-card .feature-content a {
    color: #67b54b;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.features .feature-card .feature-content figure > img {
    width: 50px;
}

.features .feature-card .feature-image > img {
    flex: 1;
    width: 50%;
    position: relative;
    right: -50px;
    height: 90%;
}
.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}

.success-stories .card {
    max-width: 370px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
}
.success-stories .card img{
    max-height: 30vh;
    object-fit: cover;
}
.success-stories .card .card-body{
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 1rem 1rem;
}
.success-stories .card .card-body h4{
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
}
.success-stories .card .card-body h3{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
}
.success-stories .card .card-body .results{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.success-stories .card .card-body .results img{
    width: 26px;
    margin-right: 20px;
}
.success-stories .card .card-footer button{
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
    border: none;
}
.success-stories .card .card-footer{
    background-color: #ffffff;
    color: #fff;
    border: none;
}
.success-stories .card .card-body .card-circle{
    display: flex;
    align-items: center;
    position: absolute;
    top: -45px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
}
.success-stories .card .card-body .card-circle.everly{
    background-color: #f9da73;
    border: 5px solid #f9da73;
}
.success-stories .card .card-body .card-circle.everly img{
    object-fit: contain;
    width: 100%;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {

/*     .navbar,
    .actions {
        display: none;
    }
 */
    h1 {
        font-size: 30px;
    }

    .main {
        margin-top: 100px;
    }

    .banner > img {
        width: 100%;
    }

    .publish > form {
        flex-direction: column;

    }

    .publish > form > div {
        height: 50px;
        margin-top: 10px;

    }

    .publish > form > div > input {
        width: 65%;
    }

    .promo {
        flex-direction: column;
        width: 90%;
    }

    .explanatory-video>video {
        width: 100%;
    }

    .publish {
        margin-top: 10px;
    }

    .publish > h3 {
        font-size: 25px;
        line-height: 1.2;
    }

    .features {
        grid-template: repeat(4, 1fr) / 1fr;
        padding-left: 0;
        padding-right: 0;
        height: 100%;
    }
    .feature-image{
        display: none;
    }
    .success-stories{
        flex-direction: column;
    }
    .overview h2{
        display: inline;
        font-size: 30px;
        line-height: 1.2;
        width: 80%;
    }
    .card-container{
        margin-top: 30px;
    }
}
/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px and max-width: 767px) {
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px and max-width: 991px) {
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px and max-width: 1199px) {
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
  }

/**  Animaciones

  @keyframes miAnimacion {
    0%{background: #aaa; left: 0; top: 0px;}
    25%{background: red; left: 300px; top: 0;}
    50%{background: green; left: 300px; top: 300px;}
    75%{background: pink; left: 0px; top: 300px;}
    100%{background: blue; left: 0px; top: 0px;}
  } */